<!-- templates/pdf/archivo_pdf.twig -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Otros estilos y metadatos -->
</head>
<body>
    <div class="container">
        <!-- Contenido con estilos de Bootstrap -->
    </div>
</body>
</html>
